<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f0863f44-6e64-42b6-ae44-c2062f0f0522" wadlVersion="http://wadl.dev.java.net/2009/02" name="GoogleAPIs2" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:description>desc here</con:description><con:settings><con:setting id="f0863f44-6e64-42b6-ae44-c2062f0f0522fileName">GoogleAPIs</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://maps.googleapis.com</con:endpoint></con:endpoints></con:interface>